body {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .16em;
    font-weight: bold;
//    color: navy;
}

.box {
    position: absolute;
    margin: 0.1em;
    padding: 0.1em;
    width: 7em;
    height: 7em;
//    border: 0.3em solid;
//    border-radius: 1em;
}

.founders, .coders, .one, .two {
    position: absolute;
}
.founders {
    top: 0.4em;
    left: 0.2em;
}
.coders {
    top: 5.8em;
    left: 0.4em;
}
.one {
    top: 0.23em;
    left: 0.18em;
}
.two {
    top: 1.15em;
    left: 1.3em;
}
