body {
    font-family: 'Open Sans', sans-serif;
}

h1, xh2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    letter-spacing: .18em;
}

[data-magellan-expedition] {
    padding: 0;
}

#xtop:before {
    position: absolute;
    content: "";
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(/images/cohort1.jpg) no-repeat top center fixed; 
//    background-color: #ee0000;
    background-size: 100%;
    opacity:0.3;
}

a {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  transition: all 1s ease;
  transition: all 1s ease;
}

#top { height: 100%; }

#top, #message, #faq, #post {
    min-height: 36em;
    border-bottom: 4px solid #003;
}

.post {
    padding-top: 60px;
}

#message {
    background: LightGrey;
}

.mugshot {
    height: 140px;
    width: 140px;
    margin-bottom: 20px;
}

footer {
    padding-bottom: 20px;
}

pre, code {
  color: #222;
  background-color: #ccc;
  font-weight: normal;
  border-radius: 2px;
}

pre code {
  display: block;
}

pre {
  padding: 10px;
  margin: 20px;
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
}

.space { padding-top: 2rem; padding-bottom: 2rem; }

columns { background: #ccc; }
