body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-size: 4em;
    letter-spacing: 4px;
}

#top:before {
    position: absolute;
    content: "";
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(/images/cohort1.jpg) no-repeat top center fixed; 
//    background-color: #ee0000;
    background-size: 100%;
    opacity:0.3;
}

#top, #curriculum {
    height: 100%;
    min-height: 36em;
    border-bottom: 4px solid #003;
    padding-top: 60px;
}

.slide {
    position: relative;
    height: 100%;
    padding-top: 60px;
}

.slide h2 { 
    font-size: 3rem; 
    padding: 2rem;
}

.slide p { 
    font-size: 2.2rem;
    padding-left: 4rem;
}

.slide .next {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: 40px;
}

#footer {
    padding-top: 20px;
//    background-color: #333;
//    color: #fff;
}

.top-bar .name h1 a {
    width: 100%;
}
