h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-size: 4em;
    letter-spacing: 4px;
}

#top::before {
    position: absolute;
    content: "";
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(/images/cohort1.jpg) no-repeat top center fixed; 
    opacity:0.3;
}

#top, #curriculum {
    padding: 60px 0 60px 0;
    height: 100%;
}

.top-bar .name h1 a {
    width: 100%;
}