    <div class="fixed">
      <nav class="top-bar" data-topbar>  
	<div class="fixed top-bar-section">
	  <nav class="top-bar" data-topbar>
	    <ul class="title-area">
              <li class="name">
		<h1><a href="/">founders &amp; Coders</a></h1>
	      </li>
	    </ul>
 	    <ul class="left">
	      <li><a href="intro">Welcome</a></li>
	      <li><a href="before">Before you start</a></li>
	      <li><a href="curriculum">Curriculum</a></li>
	      <li><a href="faq">FAQ</a></li>
	      <li><a href="guide">Course Guide</a></li>
	    </ul>
	  </nav>
	</div>
      </nav>
    </div>
