    <div class="fixed">
      <nav class="top-bar" data-topbar>  
	<div class="fixed top-bar-section">
	  <nav class="top-bar" data-topbar>
	    <ul class="title-area">
              <li class="name">
		<h1><a href="/">founders &amp; Coders I</a></h1>
	      </li>
	    </ul>
 	    <ul class="right">
	      <li><a href="/intro">Welcome</a></li>
	      <li><a href="/before">Before we start</a></li>
	      <li><a href="/curriculum">Curriculum</a></li>
	      <li><a href="/guide">Course guide</a></li>
	      <li><a href="/posts">Posts</a></li>
	    </ul>
	  </nav>
	</div>
      </nav>
    </div>
