    <footer class="row space">
      <div class="small-5 columns">
	Site maintained by <a href="http://sofer.com">Dan Sofer</a>
      </div>
      <div class="small-2 columns text-center">
	<a href="https://twitter.com/founderscoders">
	  <i class="fa fa-twitter fa-1x"></i>
	</a>
      </div>
      <div class="small-5 columns">
	<span class="right"></span>
      </div>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js"></script>
    <script src="/javascripts/main.js"></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-35597887-2");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
   
