    <div class="fixed">
      <nav class="top-bar" data-topbar>  
	<div class="fixed top-bar-section">
	  <nav class="top-bar" data-topbar>
	    <ul class="title-area">
              <li class="name">
		<h1><a href="#top">founders &amp; Coders</a></h1>
	      </li>
	    </ul>
 	    <ul class="left">
	      <li><a href="#" data-reveal-id="video"><strong>Watch the video</strong></a></li>
	      <li><a href="#" data-reveal-id="apply"><strong>Apply now</strong></a></li>
	      <li><a href="intro">Current course</a></li>
	    </ul>
 	    <ul class="right">
	      <li><a href="mailto:contact@foundersandcoders.org" target="_blank">Contact</a></li>
	    </ul>
	  </nav>
	</div>
      </nav>
    </div>
